<!DOCTYPE html>
<html>
<head>
<title>Bloom Filter</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'www/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'www/style.css' %}" />
</head>
<body>

	<h1 class="text-center">Le filtre de Bloom</h1>

	<form name="search"  action="{% url 'search' %}" method="post">
		{% csrf_token %}
	    <input name ="doc_type" type="text" class="short-input" placeholder="Type" value="{{doc_type}}" required >
	    <input name ="country" type="text" class="short-input" placeholder="Pays" value="{{country}}" required >
	    <input name ="doc_id" type="text" class="long-input" placeholder="Doc id" value="{{doc_id}}" required >
	    <input type="submit" class="btn" value="Recherche">
	</form>


<div class="result {{resultat}}"></div>

</body>
</html>